.header {
  background-color: var(--gray-800);
  color: var(--white);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem 0;
}

.header .logo {
  height: 2rem;
}

.user-actions {
  position: relative;
}

.user-avatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.user-avatar img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.user-menu {
  background-color: var(--gray-50);
  color: var(--black);
  position: absolute;
  /* border: 1px solid var(--gray-800); */
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
  right: 0;
  top: 130%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem 1rem;
  cursor: default;
}

.user-menu a:hover {
  color: var(--green-500);
}

.user-menu .logout {
  color: red;
  cursor: pointer;
}
