.tour-card {
  overflow: hidden;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.tour-card:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.01);
}

.tour-card img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
}

.tour-card-body {
  padding: 1rem;
}

.tour-card-highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* font-weight: 300; */
  font-size: 0.9rem;
}

.tour-card-highlights > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.tour-card-highlights .icon {
  color: var(--green-500);
  font-size: 1rem;
}
